<html>

<head>
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet" />
</head>

<body>
      <div class="navbar" id="topNav">
    <a href="home" class="active">blackScholes</a>
    <a href="history">History</a>
    <a href="derivations">Derivations and Usage</a>
    <a href="calculator">Calculate Expected Option Price</a>
    <a href="calculator2">Calculate Implied Volatility</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDown()">☰</a>
  </div>
    <div class="frame">
        <div class="main">
            <br>
            <h1>Results</h1>
            <h2> Your expected option price is ${{ C }}.</h2>
            <div class="ctr">
                <table style="width:75%" align="center">
                    <thead>
                        <tr>
                            <th>Name of Variable</th>
                            <th>Value Inputed</th>
                        </tr>
                    </thead>
    
                    <tbody >
                        <tr>
                            <td>Cost of Stock</td>
                            <td>{{ So }}</td>
                        </tr>
                        <tr>
                            <td>Exercise Price</td>
                            <td>{{ Xo }}</td>
                        </tr>
                        <tr>
                            <td>Time Until Expiration</td>
                            <td>{{ To }}</td>
                        </tr>
                         <tr>
                            <td>Risk Free Interest Rate</td>
                            <td>{{ ro }}</td>
                        </tr>
                        <tr>
                            <td>Volatility</td>
                            <td>{{ oo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
function dropDown() {
  var x = document.getElementById("topNav");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}</script>
</body>

</html>
