<html>
    <head>
        <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
<div class="navbar">
            <a href="home">blackScholes</a>
            <a href="history">History</a>
            <a href="derivations">Derivations and Usage</a>
            <a href="calculator">Calculate Expected Option Price</a>
            <a href="calculator2">Calculate Implied Volatility</a>
</div>

<div class="frame">
<div class="main">
    <br>
    <h1>Black Scholes Derivation</h1>
    <div align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/NBQOeBKqiV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    
    <p align="center">Above, you can watch a video describing how the Black-Scholes equation can be derived. </p>
</div>
</div>