<html>
    <head>
        <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet"/>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
          <div class="navbar topnav" id="myTopNav">
    <a href="home" class="active">blackScholes</a>
    <a href="history">History</a>
    <a href="derivations">Derivations and Usage</a>
    <a href="calculator">Calculate Expected Option Price</a>
    <a href="calculator2">Calculate Implied Volatility</a>
    <a href="contact">Contact Us</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDown()">☰</a>
  </div>
<div class="frame">
  
<div class="main">
    <br>
    <h2>Calculate Implied Volatility</h2>
        <div class="form_div">
        <form method="post" action="/list2">
            <label for="stockCost">Underlying Stock Cost:</label>
            <input type="number" name="stockCost" value="" step="any" required>
            <label for="exercisePrice">Option Exercise Price:</label>
            <input type="number" name="exercisePrice" value="" step="any" required>
            <label for="riskFreeInterestRate">Risk Free Interest Rate:</label>
            <input type="number" name="riskFreeInterestRate" value="" step="any" required>
            <label for="timeUntilExp">Time Until Expiration:</label>
            <input type="number" name="timeUntilExp" value="" step="any" required>
            <label for="optionPrice">Option Price: </label>
            <input type="number" name="optionPrice" value ="" step="any" required>
            <input type="submit" value="Submit">
        </form></div>
    </div>
    </div>
    <script>
function dropDown() {
  var x = document.getElementById("myTopNav");
  if (x.className === "navbar topnav") {
    x.className += " responsive";
  } 
  else {
     x.className="navbar topnav";
  }
}</script>
    </body>    
</html>