<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='styles.css') }}" type="text/css" rel="stylesheet"/>

</head>
<body>
  <div class="navbar" id="topNav">
    <a href="home" class="active">blackScholes</a>
    <a href="history">History</a>
    <a href="derivations">Derivations and Usage</a>
    <a href="calculator">Calculate Expected Option Price</a>
    <a href="calculator2">Calculate Implied Volatility</a>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="dropDown()">☰</a>
  </div>
  
<div class="frame">
  
<div class="main">
  <br>
  <h1>What is the Black-Scholes Model?</h1>
  <p>The Black-Scholes Model (BSM) is an equation used to model and predict the expected value of a European Call option on its expiration date. Several factors are used, such as time to expiration, current stock value, the volatility of the stock’s historical price, and more. This model is a basic for option pricing and won the Nobel prize in Economics in 1997. People buying options usually pay a premium for the option and do not have to fulfill the exchange.

    <h2>Option</h2><p>Financial agreement/contract between two parties giving the owner of the option the ability to buy/sell a stock at a specific price (called the strike price or exercise price) on a specific date (called expiration date). Call options allow the owner to buy at the agreed price, while Put Options allows the owner to sell at the agreed price.</p>

    <h2>European Option vs. American</h2><p>European options may only be exercised on the expiration date, while American options can be exercised at any point.
  </p>
</div>
</div><script>
function dropDown() {
  var x = document.getElementById("topNav");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}</script>
</body>